<header>
	<h1><%= I18n.t(:title) %></h1>
	<h3><span><%= I18n.t(:subtitle) %></span></h3>
	<p class="preamble"><%= I18n.t(:intro) %></p>
</header>

<article>
	<% I18n.t(:sections).each do |section| %>

		<section>
			<h2><%= section[:title] %></h2>

			<% section[:paragraphs].each do |paragraph| %>

				<% if paragraph[:text] %>
					<p><%= paragraph[:text] %></p>
				<% end %>

				<% if paragraph[:list] %>
					<ul>
						<% paragraph[:list][:items].each do |item| %>
							<li><%= item[:text] %></li>
						<% end %>
					</ul>
				<% end %>

				<% if paragraph[:image] %>
					<img src="<%= paragraph[:image][:src] %>" alt="<%= paragraph[:image][:alt] %>">
				<% end %>

			<% end %>

		</section>

	<% end %>
</article>

<footer>

</footer>